body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff0000, #f89000);
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}