body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #00ff11, #00f4f8,#00c8ff,rgb(55, 0, 255));
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}